@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.radial-gradient {
  background: radial-gradient(circle, #fff, #000);
}

.dark.bg-orange-500 {
  @apply bg-gray-dark-1;
}

.dark.bg-sky-500 {
  @apply bg-sky-900;
}

.dark .bg-white {
  @apply bg-gray-dark-3;
}

.dark body,
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark span,
.dark div {
  @apply text-gray-dark-5;
}


.dark input {
  @apply text-black;
}

.dark .bg-rose-500 {
  @apply bg-rose-700;
}

.dark .bg-rose-400 {
  @apply bg-rose-600;
}

.dark .bg-sky-400 {
  @apply bg-sky-800;
}

.dark .bg-emerald-500 {
  @apply bg-emerald-800;
}


/* .dark .border-rose-500 {
  @apply border-rose-700;
} */

